<h2> My Heroes </h2>
<ul class="heroes">
  <!-- (click): Click event binding -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero=== selectedHero">
    <!-- [class.some-css-class] => Angular class binding. 
    Used to easily add/remove CSS class conditionally
    -->
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>
    {{selectedHero.id}}
  </div>
  <div>
    <span>name: </span>
    {{selectedHero.name}}
  </div>
  <div>
    <label>name:
      <!-- ngModule is Angular's two-way data binding syntax -->
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>